version: '3'
services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  contribution-service:
    build: ./contribution-service
    ports:
      - "8081:3000"
    depends_on:
      - mongo

  payment-service:
    build: ./payment-service
    ports:
      - "8082:3000"
    depends_on:
      - mongo

volumes:
  mongo_data:
